@import "tailwindcss";

body {
  font-family: Inter !important;

  #BelowHeader {
    overflow-y: scroll;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    width: 100%;
  }
}
